<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=3, initial-scale=1.0">
    <title>chocolate</title>
</head>
<body>
    <center>
        <h1> Fruit and nut Filling Wrapped Chocolates - 500 gm Homemade Chocolate</h1>
        <img src="https://www.ubuy.co.in/productimg/?image=aHR0cHM6Ly9pbWFnZXMtY2RuLnVidXkuY28uaW4vNjM0ZDFiNmVhMTZmNTQ3MGIwNjU2NjAxLWNhZGJ1cnktY2hvY29sYXRlLWJhci1zZWxlY3Rpb24tb2YtaXJpc2guanBn.jpg" alt="">
        <h1><a href="{% url 'dairy:dairy' %}">click here for dairy milk</a></h1>
    </center>
</body>
</html>