<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=3, initial-scale=1.0">
    <title>dairy</title>
</head>
<body>
    <center>
        <h1> Cadbury Dairy Milk Silk Chocolate Bar, 60 Gram : Amazon.in: Grocery and Gourmet Foods</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0efWYdXKODDuIHHa8yGxxaNX5SS617K88Ww&s" alt="">

        <h1><a href="{% url 'dairy:chocolate' %}">click here for chocolate</a></h1>
       
    </center>
</body>
</html>